%article#day-7
  = partial(:'partials/day-bubble', :locals => {:value => "7"})
  %section.day.five
    %header Github reboot &mdash; Goodbye San Francisco!

    = partial(:'partials/date', :locals => {:day => "24"})

    %h2 GitHub HQ &mdash; Reboot

    %p The night before, I received a call from #{link_to "Jason Costello", "https://twitter.com/jsncostello"}, a designer at #{link_to "github", "http://github.com"}. He wanted to let me know that if I was still into a weekend meetup, that we could get together that night or in the morning at the office.. Considering I had come all that way and was unable to connect on Friday... I was extremely interested in going there as I feel like their designer scene is something that I really identify with.

    %p They are a group of "makers"... the lines between code and pixels is getting thinner and a bit more blurry in today's tech landscape. The difference between designer and developer is getting harder to tell. These things seem more like interchangeable roles that people take on at different times rather than static titles we put on a business card. Visiting Jason at github validated that for me.

    %p
      %a.avatar.jsncostello{:href => "https://twitter.com/jsncostello", :name => "Jason Costello"}

      %h3 The office

    %p I met Jason out in front of #{link_to "Github HQ 2.0", "https://foursquare.com/v/github-hq-20/4e1b35b8e4cdb14073926d97"}. We went upstairs and he gave me the tour. Showed me around the spaces, we looked at various pieces of art talked about the culture. It was really great to talk about the sort of anarchy that is github culture. We talked about the importance of side projects and how they are tested by just doing them. And how these side projects potentially become products themselves.

    %p Github wants to improve team collaboration for people. It was neat to hear about how they designed certain spaces with the intention of going into different work modes and switching context environmentally. They have hang out space, work space, quiet space, meeting space, collaboration space.. They even have a glorified whiteboard room decorated like an old WWII command room, complete with old movie projector with Polish war footage on the reel.

    %h3 Look Out Heroku

    %p Interesting side note... I asked about the dodgeball tournament they threw (the one that Heroku won and kept the big octocat trophy for). I had mentioned my question to Pedro when I was there about the tournament being like the Stanley Cup, and if the trophy would travel to the current year's winner's office. He said, "Bastards!" jokingly, laughing. "We will get those guys next year... and yes that is what we will do!" It was hilarious.

    %p He laughed and was like, "what. you don't want to hang out on the deck?".. haha! I didn't think that I had a fear of heights... but for some reason in this circumstance... that rail and slab just didn't keep me thinking about the possibilities of disaster. I am sure it is all fine... I was just paranoid.

    %h3 Sharing

    %p We spent some time sharing what I was doing in SF. I talked to him about all my experiences. I showed him the stuff I got to work on while in town and we talked about opportunities to collaborate on some stuff. Like tightly packaged solutions for the front end. You know, things that can be extended but also don't require a lot of thinking. Stuff that is already solved so we can move on to more interesting or creative work. He seemed receptive, so I will definitely be reaching out to see if we can do a github/relevance team effort on a project sometime.

    %h3 Thanks

    %p I want to take the time to say thanks to a couple of people at github for welcoming me to their home. #{link_to "Rob Sanheim", "https://twitter.com/rsanheim"}, a former colleague at relevance who now works at github introduced me to Jason. He is a true friend and I am really grateful for everything we have shared. I want to say thanks to #{link_to "Jason Long", "http://twitter.com/jasonlong"}, designer at github and someone who I have worked with as a contractor at relevance, for introducing me to some other folks in the SF area. That really improved my experience! I also want to thank Jason Costello and Julie Ann Havorath for bringing me in and making me feel welcome! I am glad I got to take a look at a glimpse of their world. It was a wonderful closing before heading up the coast across the Golden Gate Bridge (which only a few weeks ago turned 75 years old!).

    %p
      %a.avatar.rsanheim{:href => "https://twitter.com/rsanheim", :name => "Rob Sanheim"}
      %a.avatar.jasonlong{:href => "https://twitter.com/jasonlong", :name => "Jason Long"}