%article#day-1
  = partial(:'partials/day-bubble', :locals => {:value => "1"})
  %section.day.one
    %header So I'm in San Francisco&#8230; Now what?
    
    = partial(:'partials/date', :locals => {:day => "18"})
    
    %h2 The Story

    %p Over the last couple of years, I have attended a number of conferences that have been fun and inspiring. The one thing they all have in common is that I have met some great people that I wished I could share more time talking about projects or even collaborating on something. I love going to these conferences, but I was looking for something more &mdash; something different.

    %p At #{link_to "Relevance", "http://thinkrelevance.com"}, where I work, everybody gets a conference budget. I thought, "Maybe I could take a journey instead. Maybe I could go to San Francisco and visit different companies and meet people in their worlds."

    %h3 Planning the Trip

    %p When I thought about doing this, I put together some loose plans, but didn't have any specific dates and times lined up with people or places. I figured I'd be able to do that "on-the-fly" and leave some room open for adventure. You know.. by leaving some schedule open, maybe I will randomly meet people and get to see some amazing places I didn't intend. While that seemed like the right thing to do, next time I will try and line up at least my first day.

    %p Day one was all about planning. I spent the day trying to line up some of the specifics: where would I go, when would I get there, who would meet with me when I get there kind of stuff. While all of this seemed to be about creating some structure for the trip, I did get to experience some unexpected magic!

    %h3 The Magic Bus

    %p I hopped on the 14x bus from Outer Mission to the SoMa area. I wanted to visit software product companies, and so it just made sense that I try and land a spot there. I figured, I'm on East coast time and awake at 4 a.m. &mdash; I'll find a coffee shop, get charged, open my laptop and line some stuff up.

    %h3 Coffee or Chemistry?

    %p When I got off the bus, I fired up Yelp and searched for coffee. Saw that there was a #{link_to "Blue Bottle", "http://www.bluebottlecoffee.com/locations/mint-cafe/"} coffee shop and had heard good things, so I walked there. Holy shit! I ordered a small pot of a single roast African Gamayo and watched as they stirred something over a Bunsen burner-like contraption with vessels that looked like lab glass. The dude working the fire was obviously caffeinated and very into what he was doing. When I got my pot of coffee, it came in a stand holding a small florence flask of hot bean juice and the coffee cup also resembled a beaker. It came with instructions as to when the optimal temperature would be to drink this fine nectar. The only thing that was missing was a thermometer&#8230; and maybe safety goggles. I joke around, but the coffee was amazing. This was certainly foreshadowing for how coffee in San Francisco was to ruin coffee for me for at least the next two weeks!

    %p
      = tag :img, :src => "/images/blue-bottle/thumb/blue-bottle.jpg", :alt => "Blue Bottle looks like a science lab.", :data => {:'full-size' => "/images/blue-bottle/blue-bottle.jpg"}
      = tag :img, :src => "/images/blue-bottle/thumb/pot-of-african-gamayo.jpg", :alt => "Pot of African Gamayo", :data => {:'full-size' => "/images/blue-bottle/pot-of-african-gamayo.jpg"}

    %h3 Time to Get to Work

    %p After I was sufficiently caffeinated, I walked around to find a place to sit down and plug in my laptop. It was time to get real. While I walked around, I noticed the branded clothing adorned on people carrying laptop bags. Logos of tech companies I was familiar with were all around (#{link_to "Square", "http://squareup.com"}, #{link_to "Zaarly", "http://zaarly.com"}, #{link_to "Twitter", "http://twitter.com"}). This seemed like a good sign.

    %p I found a little cafe that had food, coffee and most importantly&#8230; power outlets! So, I acquired a table and plugged in. At first I was just re-checking in with folks I had reached out to earlier when I first brainstorming this idea. I wrote emails and sent direct messages on twitter. I needed to set some actual times with people to meet up. While I sorted some of this stuff out, I had a moment to check-in with some coworkers and do some project work. It didn't take too long for the emails and DMs to start coming in. The plan was coming together.

    %p Here's what I lined up:

    %ul
      %li An evening to work with #{link_to "Chris Eppstein", "https://twitter.com/chriseppstein"}, creator of Compass
      %li A day to work at #{link_to "UserVoice", "http://uservoice.com"}
      %li A day to work at #{link_to "Storenvy", "http://storenvy.com"}
      %li An evening, to hang out with #{link_to "Jay Robinson", "http://twitter.com/jayrobinson"}, a UX designer at #{link_to "Sencha", "http://sencha.com"}

    %h3 Lunch via 140 Characters

    %p I started to get hungry. While reading my twitter feed, #{link_to "Jeff Broderick", "http://twitter.com/brdrck"}, a product designer I follow but have never met in person, sent out a tweet asking if anyone wanted to join him and #{link_to "Manolo Sa&ntilde;udo", "http://twitter.com/manolosavi"} for lunch. I replied eagerly as this is what I was there for. This is why I wanted to keep my schedule loose&#8230; for adventure time!
    
    %p
      %a.avatar.brdrck{:href => "https://twitter.com/brdrck", :name => "Jeff Broderick"}
      %a.avatar.manolosavi{:href => "https://twitter.com/manolosavi", :name => "Manolo Savi"}
    
    %p We met for some sandwiches and talked shop. It enjoyed listening to Jeff talk about what he was doing. He wasn't working for anybody, he wasn't contracting&#8230; he had just partnered with some folks and solely focused on building products that he wanted to design. He talked about his current project #{link_to "jump.tv", "http://jump.tv"} and how he wanted to only ship products with features fully baked. You know, not just ship something to ship it and test&#8230; but really ship features that he feels good about. These are features he feels look polished and have nice interactions, but then also need to provide value to the user and the business. He talked about minimizing distractions&#8230; thinking for the user instead of making them think. He talked about designing with sort of a "less choices, more guidance &amp; focus" philosophy. If you aren't familiar with any of Jeff's work, I suggest that you take a look at some of his projects on #{link_to "dribbble", "http://dribbble.com/brdrck/projects"}. I think he has done some pretty fine work!

    %p Manolo, who also has a pretty nice #{link_to "portfolio", "http://dribbble.com/mnlsv"}, was in SF on a tour of his own before he goes back to school. I ran into both of these guys again while I was in town. For a big city, it seemed that the circles were smaller than I had thought they might be. 

    %p After a great lunch, I talked about what I did, the tools I worked with&#8230; the types of tech that I've worked with at Relevance. I might've scared these guys a bit with my "Designers should learn to use the Terminal" zealotry, but overall I'd say lunch was a success.

    %p I wanted to set up some time to work with Jeff on getting more familiar with the whole git/heroku deploy story and walk him through some of the stuff I have been using like #{link_to "middlebot", "http://github.com/michaelparenteau/middlebot"} and #{link_to "middleman", "http://middlemanapp.com"}, but time was limited and it just didn't line up.

    %p @brdrck - The offer still stands&#8230; if you want to do some remote pairing, I would be happy to do that if you are still interested. :)

    %h3 Cask - a Whiskey Heaven

    %p After lunch, as I parted ways with Jeff &amp; Manolo, I noticed a sign with the word "Cask" hovering over a site of glorious whiskey&#8230; lots and lots of whiskey. #{link_to "Cask", "http://www.caskstore.com"} is what I would imagine a wizard's library to look like. The space was dark, wooded &amp; the shelves were organized with bottles of spirits from different regions and grain. I found an interesting bottle of (#{link_to "Whistle Pig Rye", "http://whistlepigwhiskey.com"}) and decided to bring it back to my friend who was putting me up for the week. I sent out a tweet to #{link_to "Justin Gehtland", "http://twitter.com/jgehtland"}, whiskey connoisseur and CEO at Relevance, with a photo showing some very rare whiskeys. He later requested the exact location of this fine gem &mdash; If you like whiskey and find yourself in SF, you should check it out. No, it's not the place where they sell kilts and serve booze (that actually exists)&#8230; but it is, no doubt, a good find!

    %p
      = tag :img, :src => "/images/cask/thumb/whiskey-tricycle.jpg", :alt => "Whiskey tricycle", :data => {:'full-size' => "/images/cask/whiskey-tricycle.jpg"}
      = tag :img, :src => "/images/cask/thumb/cask-sign.jpg", :alt => "Cask wall sign", :data => {:'full-size' => "/images/cask/cask-sign.jpg"}
      = tag :img, :src => "/images/cask/thumb/whiskey-display.jpg", :alt => "Whiskey display", :data => {:'full-size' => "/images/cask/whiskey-display.jpg"}
      = tag :img, :src => "/images/cask/thumb/whiskey-library.jpg", :alt => "Whiskey library", :data => {:'full-size' => "/images/cask/whiskey-library.jpg"}
      = tag :img, :src => "/images/cask/thumb/whistle-pig-rye.jpg", :alt => "Whistle Pig Rye, this was delicious!", :data => {:'full-size' => "/images/cask/whistle-pig-rye.jpg"}
      = tag :img, :src => "/images/cask/thumb/rare-whiskeys.jpg", :alt => "The rare whiskeys", :data => {:'full-size' => "/images/cask/rare-whiskeys.jpg"}

    %h3 Wait a Minute, I Know this Place!

    %p I started to walk back to Mission St. to get on the bus. Then I thought&#8230; wait a minute, I know this place! See, a while back I lived out here to go to the San Francisco Art Institute. During that time, I used to visit the #{link_to "Museum of Modern Art", "http://sfmoma.org"} all the time. And now once again, it was right across the street. I didn't want to pass up the chance to take a walk through.

    %p There was only an hour left to check out the collection, but it was enough. Well there could never really be enough time to look at all the work there, but it was at least enough time for me to have an emotional experience. I cried, I smiled and my jaw was dropped. See, this may sound harsh, but I feel sometimes that life would be shit without art. Going to the museum made me want to make everything I do matter, make everything count! 

    %p It was a great end to day 1.

    %p
      = tag :img, :src => "/images/moma/thumb/elmer-bischoff.jpg", :alt => "Elmer Bischoff painting", :data => {:'full-size' => "/images/moma/elmer-bischoff.jpg"}
      = tag :img, :src => "/images/moma/thumb/mural.jpg", :alt => "Featured mural at the MOMA", :data => {:'full-size' => "/images/moma/mural.jpg"}
      = tag :img, :src => "/images/moma/thumb/francis-bacon.jpg", :alt => "Francis Bacon painting", :data => {:'full-size' => "/images/moma/francis-bacon.jpg"}
      = tag :img, :src => "/images/moma/thumb/moma-architecture-01.jpg", :alt => "MOMA architecture", :data => {:'full-size' => "/images/moma/moma-architecture-01.jpg"}
      = tag :img, :src => "/images/moma/thumb/moma-architecture-02.jpg", :alt => "MOMA architecture", :data => {:'full-size' => "/images/moma/moma-architecture-02.jpg"}
      = tag :img, :src => "/images/moma/thumb/moma-architecture-03.jpg", :alt => "MOMA architecture", :data => {:'full-size' => "/images/moma/moma-architecture-03.jpg"}

    %p NOTE: The last 30 minutes of every day at the MOMA is free. If you're in the area at that time, you should go.