%article#day-6
  = partial(:'partials/day-bubble', :locals => {:value => "6"})
  %section.day.six
    %header A day with Morgan Allan Knutson at Dropbox HQ

    = partial(:'partials/date', :locals => {:day => "23"})

    %h2 A Day at Dropbox

    %p I mentioned earlier that a couple of nights ago I went to a dribbble meetup. When I was there, I met #{link_to "Morgan Allen Knutson", "http://twitter.com/rnorgan"}, a talented designer, whom I have been following for the last couple of years. He was behind awesome works such as, #{link_to "opencongress", "http://www.opencongress.org"}, #{link_to "opengovernment", "http://opengovernment.org"} &amp; #{link_to "miro", "http://getmiro.com"} to name a few. More recently, he has been at google, currently at #{link_to "dropbox", "http://dropbox.com"} and even started his own thing called #{link_to "hypercompact", "http://hypercompact.com"}.

    %p Morgan is awesome! He was super friendly, approachable and really easy to get along with! We made some time to meet at dropbox HQ where he is currently.

    %p I met him in front of the building and then we went in. It was like going to the Wonka factory of product company offices. Out of all the places I visited, this place was, by far, the most over the top! We started out by grabbing razor scooters to scoot around the campus. The office is in a full floor of a rather large building and there is a concrete track that cuts through the perimeter of the space.

    %p We scooted by kitchens &amp; drink stations, meeting rooms and collaboration spaces &mdash; complete with LEGOS and oversized connect four games. They had a glass-encased music jam room with all sorts of instruments! Nice quiet breakout spaces for quiet and even casual lounge spaces with hanging papasan beds for relaxing or talking. They had a beautiful view of the bay and Giants Stadium. This space was by far the most intentionally designed space out of all the places I visited in SF.

    %p We scooted around and looked at the rooms where they kept company swag and t-shirts and found a suitable t-shirt for me to take home.

    %p
      %a.avatar.rnorgan{:href => "https://twitter.com/rnorgan", :name => "Morgan Allan Knutson"}

      %h3 Learning About Dropbox &amp; Morgan

    %p Morgan was really open. He talked about the team, ratio of Designer, Engineer, PM people, support and sales, etc. They had 80 people on the team at the time. I am sure that they have grown since then as he said that they are really focused on growing the business. I won't say the number he quoted me in terms of target growth&#8230; but I can ensure you that they must have big plans as they are really hiring and looking for great people to bring on!

    %p Some of the interesting things to mention are that they have pretty loose hours in the sense of work. They don't really have set scheduled hours. Instead, people are given responsibility and are trusted and expected to deliver on the responsibilities as well as work together to achieve goals. They play hard too. Just the night before, they all went out for some laser tag. Some time before that, they went white water rafting.

    %p I talked with Morgan about his role at Dropbox and it was great to hear he is not just in Photoshop-land. Not only does Morgan make beautiful pixels&#8230; he also makes live clickable prototypes using html/css/js. He loves working there and it showed in his enthusiasm when talking about the company.

    %p Morgan recently moved to SF with his wife and daughter. He loves his family and talked about how becoming a dad really lit a fire under his ass. This is an experience I can relate to for sure! When we met at the dribbble meetup earlier in the week, I told him the story of my  daughter's home-birth. I won't go into details here&#8230; but if you ever meet me in person, ask me about it&#8230; it is sure to blow your mind!

    %h3 Standing on a Ledge, Testing My Fear of Heights

    %p After we left the office, Morgan invited me back to his house for a bit. He took me out on to his deck&#8230; which really felt like a thin concrete slab hanging off the face of a high-rise building. At one moment he said, "If you lean a bit over the rail and look to the right, you can see the Bay Bridge." I went ahead and did this and then imagined an earthquake rumbling&#8230; and then the image of this slab snapping beneath my feat and literally skydiving towards an urban landscape flashed through my mind. I casually but quickly asked to move inside.

    %p He laughed and was like, "What, you don't want to hang out on the deck?" &mdash; Haha! I didn't think that I had a fear of heights, but for some reason in this circumstance&#8230; that rail and slab just didn't keep me thinking about the possibilities of disaster. I am sure it is all fine and I was just paranoid.

    %p
      = tag :img, :src => "/images/dropbox/thumb/morgans-porch.jpg", :alt => "the view from Morgan's porch", :data => {:'full-size' => "/images/dropbox/morgans-porch.jpg"}

    %h3 Thanks Morgan

    %p I want to thank Morgan for meeting me on a Saturday to show me around and for letting me into his home. He is a really talented individual but also down to earth. I really appreciated talking with him about design, process, product culture in the Bay, and various other activities. When I am in town next&#8230; I will definitely reach out and visit again!

    %p Also, if you want a chance to work with him, #{link_to "dropbox is hiring", "http://www.dropbox.com/jobs"}. I'm not currently looking for a job, but would definitely love to collaborate with him on a project in the future!