%article#day-2
  = partial(:'partials/day-bubble', :locals => {:value => "2"})
  %section.day.two
    %header A day at UserVoice... and an unplanned dribbble meetup.

    = partial(:'partials/date', :locals => {:day => "19"})

    %h2 A Day at UserVoice

    %p The day before, I was able to sync up with #{link_to "Josh Rudd", "http://twitter.com/joshuarudd"}, the Director of UX at #{link_to "UserVoice", "http://uservoice.com"}. We planned for me to stop by at the office and work there for the day. This was sort of cool as not too long ago, #{link_to "Muness", "http://twitter.com/muness"} at Relevance shared #{link_to "a blog post about how they use Trello", "http://www.uservoice.com/blog/founders/trello-google-docs-product-management/"}. I found Trello fascinating and started using it for keeping track of lots of things and collaborating with a team.

    %h3 In the morning

    %p I again hopped on the 14x bus (starting to see a pattern here) to SoMa, where UserVoice HQ is. When I got off, I wanted to find some more of that amazing coffee. So I fired up Yelp again and looked around for what people were saying was really good coffee in the area. I found #{link_to "Special Xtra", "http://www.yelp.com/biz/special-xtra-san-francisco"}. They were brewing Blue Bottle coffee, pour-over style, and it was delicious.

    %p I was still on East coast time. Nobody was going to be at the HQ when I got in the area. So I took my coffee and found a spot to sit down and do some thinking. The city seemed to feel different than when I lived here 12 years ago. I was different. SoMa was just a bus stop back then to me. I never really spent any time in that area. I was a "starving art student" and now I am a software designer with a good job. I thought a lot about how I was going into a company's office today and looking at what they do, where they are, who they are and comparing it to me and where I'm coming from. I wanted to give these guys a good experience and also wanted to make some new friends.

    %h3 UserVoice HQ &amp; the Team

    %p After coffee and morning meditations, I walked up to the building where the office was. I looked at the plaque identifying which floors businesses were on with their logos. I recognized a couple of the products and again had that thought of SF being a super familiar, real-world version of an Internet that I know.

    %p I took the elevator up to the floor where the office was and when I got off, there was a giant chalkboard wall with the company logo and various illustrations in-progress. It was a pretty cool first impression.

    %p
      = tag :img, :src => "/images/uservoice/thumb/uservoice-entrance.jpg", :alt => "Chalk wall at UserVoice entrance", :data => {:'full-size' => "/images/uservoice/uservoice-entrance.jpg"}

    %p When I got in, I was greeted by Josh Rudd and #{link_to "Chad Bercea", "http://twitter.com/chadbercea"} (a designer there). Josh gave me a tour of the space.

    %p They had just moved into this space and were at that threshold of building their company with a cool culture and fun office environment complete with old skool arcade cabinet full of video games. It was a nice space and I think they are going to do some really cool things with it.

    %p After getting the tour of the space, I got to meet the team there. I sat with Josh, Chad and also #{link_to "Jonathan Novak", "http://twitter.com/cypriss"} (Lead Developer). I shared with them a bit about myself. I gave a presentation on some of the side projects I have worked on, talked about what I do at Relevance. Talked about what I was in SF for and why I wanted to do this trip. It was really cool. They were all really receptive and I was grateful to share. I got to hear a little bit about them and what they were doing there too.

    %p
      %a.avatar.joshuarudd{:href => "https://twitter.com/joshuarudd", :name => "Joshua Rudd"}
      %a.avatar.chadbercea{:href => "https://twitter.com/chadbercea", :name => "Chad Bercea"}
      %a.avatar.cypriss{:href => "https://twitter.com/cypriss", :name => "Jonathan Novak"}

    %p UserVoice is growing... but growing smart. Not just taking money and hiring the world or spending money on giant toys. They have a really great product with a pretty large group of users. They are focused on making their product better and more useful to these people. I was really impressed by their attitude and approach to product design / development.

    %h3 That Sure is a Tasty Burger

    %p When our bellies started talking to one another, a bunch of us walked down to #{link_to "Super Duper", "http://superdupersf.com"} on Market St. I got a bacon burger with BBQ and the fix-ins. I also had a side of garlic fries. Woah! The burger was super juicy &amp; delicious. The garlic fries were pretty extreme, generously piled with minced raw garlic. They also had jars of what seemed to be house-made pickles over by the condiments. The place was clean and had a pretty hip vibe. I approve.

    %h3 Afternoon Hacking

    %p After lunch, I set up in the design room on the couch. I decided to work on a project that I had started called #{link_to "middlebot", "http://github.com/michaelparenteau/middlebot"}. It is basically a project generator for using a bash script to install a fresh #{link_to "middleman", "http://middlemanapp.com"} app using a project template and then in the terminal you are prompted on generating a public Github repo and then also a #{link_to "Heroku", "http://heroku.com"} instance. A little while back at the Hacker Bed &amp; Breakfast, an annual event hosted by #{link_to "Stu Halloway", "http://twitter.com/stuarthalloway"}, I hacked on middlebot with #{link_to "Muness", "http://twitter.com/muness"} to get the github repo portion working. Then I ran into issues with the Beta version of middleman and #{link_to "Jason Rudolph", "http://twitter.com/jasonrudolph"} helped me troubleshoot. Anyway, not to get too far in the past... but there were issues and the bugs were fixed. So, I went ahead and updated middlebot.
    
    %p While I hacked on some of my stuff, I was pinged by Chad to take a look at what he was doing. UserVoice was organizing a conference called #{link_to "UserConf", "http://userconf.com"}. He was working on a feature on the website and was looking for feedback. We talked about some ideas and he ended up implementing one of them. Take a look at the feature in his #{link_to "dribbble shot", "http://dribbble.com/shots/611522-Twitter-Hover-Some-More"}.

    %h3 Thank You UserVoice

    %p I want to take a moment to say thanks to the team at UserVoice. I'd also like to give a particular shout out to #{link_to "John Long", "http://http://twitter.com/johnwlong"}, a designer/dev on the team there in the Raleigh office for introducing me to the SF people. I had a wonderful time hanging out and getting to know these guys.

    %p UserVoice is currently looking to bring on some people. If you have a good design sense, know your way around a Rails app and have a good attitude... and you want to work at a cool product company in San Francisco or Raleigh, NC, you should #{link_to "contact them", "http://www.uservoice.com/about/jobs/"}.

    %h2 Spontaneous Dribbble Meet-up

    %p On the twitters, there was talk about a SF #{link_to "dribbble", "http://dribbble.com"} meet-up. And, it was right around the corner from the UserVoice office... so it was perfect. I could walk there!

    %p I stood out in front of the #{link_to "Thirsty Bear", "http://www.thirstybear.com"} and waited for people to show up. I waited some more. I walked inside to see if there were people around... nope. So I went back out front and continued to wait. The time was set, I looked at my phone to see if I was early... nope, the meet-up should have started an hour ago. Hmm.

    %p Finally, people started to show up... almost all at once. It was pretty cool. I'm glad I stuck around as I almost left.

    %p I got to meet some really great people and talented designers! Some people that were there I have been following on dribbble for years like #{link_to "Morgan Allan Knutson", "http://twitter.com/rnorgan"} &amp; #{link_to "Brian Benitez", "http://twitter.com/brianbenitez"}. I also got to see Jeff &amp; Manolo from yesterday's lunch. #{link_to "Jay Robinson", "http://twitter.com/jayrobinson"} came by and we got to talk about Sencha, Relevance, some of the differences between in-house product design and client services. He introduced me to some of the other folks there that he knew. Also, Jay and I doing some retina supported icons for #{link_to "hooppps", "http://hooppps.com"} and a responsive layout for tablets. It's about time I give hooppps some updates.

    %h3 After Hours at Jeff's Place

    %p After drinks at the Thirsty Bear, some of us walked to get a bite to eat. When we got to a place, it was closed. We continued to walk around to look for food. At one moment, I was pretty hungry and saw a convenience store and I ran into get a banana. I might have had some people thinking I was weird at that point.. "who is this guy with the banana?" - haha!

    %p We abandoned the food idea and decided to go to Jeff Broderick's apartment. This was great – again, exactly what I was looking to do. This would have been a rare occurrence at a regular tech conference. I got to hang out and discuss all sorts of cool things with these guys. I met some more people and looked at what they were doing. #{link_to "Marshall Bock", "http://twitter.com/marshallbock"} (designer at Google) had just finished his mobile website. I got to talk with Brian Benitez about his time at #{link_to "Disqus", "http://disqus.com"} and then how he has gone out on his own a bit since. I set up a time to meet with Morgan to visit #{link_to "Dropbox", "http://dropbox.com"} later in the week. I also got to meet #{link_to "Juan Arreguin", "http://twitter.com/juanarreguin"} (designer at SocialCast) and talk about being a designer/dev hybrid. It was awesome. I had a lot of fun and got to make some new friends. Next time I'm in town, I will most definitely look these guys up to hang out. They are all really great people and they're doing wonderful things in our industry!

    %p
      %a.avatar.rnorgan{:href => "https://twitter.com/rnorgan", :name => "Morgan Allan Knutson"}
      %a.avatar.brianbenitez{:href => "https://twitter.com/brianbenitez", :name => "Brian Benitez"}
      %a.avatar.jayrobinson{:href => "https://twitter.com/jayrobinson", :name => "Jay Robinson"}
      %a.avatar.marshallbock{:href => "https://twitter.com/marshallbock", :name => "Marshall Bock"}
      %a.avatar.juanarreguin{:href => "https://twitter.com/juanarreguin", :name => "Juan Arreguin"}
      %a.avatar.noracalabrese{:href => "https://twitter.com/noracalabrese", :name => "Nora Calabrese"}
      %a.avatar.neighthen{:href => "https://twitter.com/neighthen", :name => "Nathan Romero"}
      %a.avatar.meyer{:href => "https://twitter.com/meyer", :name => "Mike Meyer"}
      %a.avatar.pixeliris{:href => "https://twitter.com/pixeliris", :name => "Iris Atalay"}
