%article
  = partial(:'partials/day-bubble', :locals => {:value => "5"})
  %section.day.five
    %header Github HQ misfire, walking, thinking... whoa i am exhausted!

    = partial(:'partials/date', :locals => {:day => "22"})

    %h2 GitHub HQ Misfire

    %p The day before I had managed to line up going to [Github] HQ. Some time back in St. Petersburg, when I was at [FrontEnd Conf], I met [Julie Ann Havorath] (Designer at Github). She said I could stop by one day and hang with the hubbers. I was also in contact with [Jason Costello] (designer at Github). 

    %p
      %a.avatar.nrrrdcore{:href => "https://twitter.com/nrrrdcore", :name => "Julie Ann Horvath"}

    %p I really wanted to make this happen. I have worked with several people who are now there, I really love the product and totally connect with the company culture. While in SF... it just seemed like a great prospect to connect with some cool people and work in a great space.

    %p It just didn't work out. I was in the area, but timing was just off. Oh well. 

    %p Just a bit of foreshadowing here so as to not be a bum-trip.. I did get to hang at the HQ, just not on Friday. Don't worry... we'll get there.

    %h3 Taking a Walk

    %p I decided to walk around a bit. I had done a lot in the past four days. I took a lot of notes, spent a lot of time on public transit. Practically went non-stop from 5am to 1am everyday.

    %p There was so much going on! So many tech companies, so many people... talented people!

    %h3 Chicken &amp; Muthaeffing Waffles!

    %p While I walked around, I took some pictures, took random streets and looked around at everything! I found myself some more of that fantastic coffee at a place called [Cento] and right next door there was this place called [Little Skillet]. It was another one of those garage door joints where there is no seating. you just walk up and order food. I had the most amazing Chicken and Waffles i have ever had. the honey jalepeno hot sauce and the vanilla bean maple syrup... YUM!

    %p
      = tag :img, :src => "/images/day-5/the-utah.jpg", :alt => "The Utah building on the way to Github HQ 2.0"
      = tag :img, :src => "/images/day-5/coffee-cup-art.jpg", :alt => "Coffee cup zombie art at Cento"
      = tag :img, :src => "/images/day-5/little-skillet-sign.jpg", :alt => "Little Skillet sign"
      = tag :img, :src => "/images/day-5/little-skillet-menu.jpg", :alt => "Little Skillet menu"
      = tag :img, :src => "/images/day-5/gourmet-food-bus.jpg", :alt => "Gourmet food bus"

    %h3 Unexpected Awesomeness

    %p When I was getting coffee earlier this morning, I ran into [Nick Plante]. He has contracted at Relevance before and I have gotten to work with him. He was in SF for some start-up stuff. People were doing something with tech in a weekend (let's see what we can build). It was funny because Nick helped organize the [Rails Rumble], which he let me be an expert judge at one year. It was really fun running into him here. Of all places... getting coffee in SF!

    %p
      %a.avatar.zapnap{:href => "https://twitter.com/zapnap", :name => "Nick Plante"}