%article#day-2
  = partial(:'partials/day-bubble', :locals => {:value => "2"})
  %section.day.two
    %header A day at UserVoice&#8230; and an unplanned dribbble meetup.

    = partial(:'partials/date', :locals => {:day => "19"})

    %h2 A Day at UserVoice

    %p The day before, I was able to sync up with #{link_to "Josh Rudd", "http://twitter.com/joshuarudd"}, the Director of UX at #{link_to "UserVoice", "http://uservoice.com"}. We planned for me to stop by at the office and work there for the day. This was sort of cool as not too long ago, #{link_to "Muness Alrubaie", "http://twitter.com/muness"}, President of Relevance, sent me a link to a blog post entitled, #{link_to "How we use Trello & Google Docs to make UserVoice better every day", "http://www.uservoice.com/blog/founders/trello-google-docs-product-management/"}. I found Trello to be a really great productivity tool and started using it to keep track of things and for collaborating with a team. I was excited to meet these guys and get to learn a bit more about their product and how they work together.

    %h3 In the morning

    %p I again hopped on the 14x bus (starting to see a pattern here) to SoMa, where the UserVoice HQ is. When I got off the bus, I wanted to find some more of that amazing coffee. So I fired up Yelp again and looked around for what people were saying was really good coffee in the area. I found #{link_to "Special Xtra", "http://www.yelp.com/biz/special-xtra-san-francisco"}. They were brewing Blue Bottle coffee, pour-over style, and it was delicious.

    %p I was still on East coast time. Nobody was going to be at the HQ when I got in the area. So I took my coffee and found a spot to sit down and do some thinking. The city seemed to feel different than when I lived here 12 years ago. I was different. SoMa was just a bus stop to me back then. I never really spent any time in that area. Once upon a time, I was a "starving art student" and today I am a software designer with an amazing job. I thought a lot about how I was going into someone else's domain today and how I would get to peek at what they do, where they are, who they are&#8230; and then get a chance to compare it to where I'm coming from. I wanted to give these guys a good experience and also wanted to make some new friends.

    %h3 UserVoice HQ &amp; the Team

    %p After coffee and morning meditations (or maybe donuts), I walked up to the building where the office was. I looked at the plaque identifying which floors businesses were on with their logos. I recognized a couple of the products and again had that thought of SF being a super familiar, real-world version of an Internet that I know.

    %p I took the elevator up to the floor where the office was and when I got off, there was a giant chalkboard wall with the company logo and various illustrations in-progress. It was a wonderful first impression. It had a certain touch that emulated a "we're all about people" kind of attitude. I could tell that I was in for a treat.

    %p
      = tag :img, :src => "/images/uservoice/thumb/uservoice-entrance.jpg", :alt => "Chalk wall at UserVoice entrance", :data => {:'full-size' => "/images/uservoice/uservoice-entrance.jpg"}

    %p When I got in, I was greeted by Josh Rudd and #{link_to "Chad Bercea", "http://twitter.com/chadbercea"} (designer &amp; super dude). Josh gave me a tour of the space.

    %p They had just moved in and were at that threshold of building their company with a cool culture and fun office environment &mdash; complete with an "old school" arcade cabinet full of video games. It was a nice space and I think they are going to do some really fun things with it.

    %p After getting the full tour, I got to meet the team. I sat with Josh, Chad and also #{link_to "Jonathan Novak", "http://twitter.com/cypriss"} (Lead Developer). I shared with them a bit about myself. I gave a presentation on some of the side projects I have worked on, talked about what I do at Relevance. Talked about what I was in SF for and why I wanted to do this trip. They were all really receptive and I was grateful to share. I got to hear a little bit about them and what they were doing there too.

    %p
      %a.avatar.joshuarudd{:href => "https://twitter.com/joshuarudd", :name => "Joshua Rudd"}
      %a.avatar.chadbercea{:href => "https://twitter.com/chadbercea", :name => "Chad Bercea"}
      %a.avatar.cypriss{:href => "https://twitter.com/cypriss", :name => "Jonathan Novak"}

    %p UserVoice is growing&#8230; but growing smart. They don't seem to be just taking money and hiring the world or spending money on giant toys. They have a really great product with a pretty large group of users. They are focused on making their product better and more useful to these people. I was really impressed by their attitude and approach to product design / development.

    %h3 That Sure is a Tasty Burger

    %p When our bellies started talking to one another, a bunch of us walked down to #{link_to "Super Duper", "http://superdupersf.com"} on Market St. I obtained a burger, complete with bacon &amp; BBQ sauce and a side of garlic fries &mdash; woah! The burger was super juicy and delicious. The garlic fries were generously piled with minced raw garlic. They also had jars of what seemed to be house-made pickles over by the condiments. The place was clean and had a pretty hip vibe. Super Duper, I approve.

    %h3 Afternoon Hacking

    %p After lunch, I set up in the design room on the couch. I decided to work on a project that I had started called #{link_to "middlebot", "http://github.com/michaelparenteau/middlebot"}. It is basically a project generator for using a bash script to install a fresh #{link_to "middleman", "http://middlemanapp.com"} app using a project template and then in the terminal you are prompted on generating a public Github repo and then also a #{link_to "Heroku", "http://heroku.com"} instance. A little while back at the Hacker Bed &amp; Breakfast, an annual event hosted by #{link_to "Stu Halloway", "http://twitter.com/stuarthalloway"}, I hacked on middlebot with #{link_to "Muness", "http://twitter.com/muness"} to get the github repo portion working. Then I ran into issues with the Beta version of middleman and #{link_to "Jason Rudolph", "http://twitter.com/jasonrudolph"} helped me troubleshoot. Anyway, not to get too far in the past&#8230; but there were issues and the bugs were fixed. So, I went ahead and updated middlebot.

    %p While I hacked on some of my stuff, Chad had me take a look at what he was doing. UserVoice was organizing a conference called #{link_to "UserConf", "http://userconf.com"}. He was working on a particular feature of the website and asked for my feedback. The site looked beautiful. We talked about a couple of different ideas and he ended up implementing one of them. Take a look at the feature in his #{link_to "dribbble shot", "http://dribbble.com/shots/611522-Twitter-Hover-Some-More"}.

    %h3 Thank You UserVoice

    %p I want to take a moment to say thanks to the team at UserVoice. I'd also like to give a particular shout out to #{link_to "John Long", "http://http://twitter.com/johnwlong"}, a designer/dev on the team there in the Raleigh office for introducing me to the SF people. I had a wonderful time hanging out and getting to know these guys.

    %p UserVoice is currently looking to bring on some people. If you have a good design sense, know your way around a Rails app and have a good attitude&#8230; and you want to work at a cool product company in San Francisco or Raleigh, NC, you should #{link_to "contact them", "http://www.uservoice.com/about/jobs/"}.

    %h2 Spontaneous Dribbble Meet-up

    %p On the twitters, there was talk about a SF #{link_to "dribbble", "http://dribbble.com"} meet-up. And, it was right around the corner from the UserVoice office&#8230; so I could walk there &mdash; perfect!

    %p I stood out in front of the #{link_to "Thirsty Bear", "http://www.thirstybear.com"} and waited for people to show up. I waited some more. I walked inside to see if there were people around&#8230; nope. So I went back out front and continued to wait. The time was set, I looked at my phone to see if I was early&#8230; nope, the meet-up should have started an hour ago. Hmm. 

    %p Right when I was about ready to bail, almost everyone showed up at once.

    %p I'm glad I stuck around. I met some really great people and talented designers! Some of these folks I have been following on dribbble for years like #{link_to "Morgan Allan Knutson", "http://twitter.com/rnorgan"} &amp; #{link_to "Brian Benitez", "http://twitter.com/brianbenitez"}. I also got to see Jeff &amp; Manolo from yesterday's lunch. #{link_to "Jay Robinson", "http://twitter.com/jayrobinson"} came by and we got to talk about Sencha, Relevance&#8230; and some of the differences between in-house product design and client services. He introduced me to some of the other folks there that he knew. Also, Jay and I talked about doing some retina supported icons for #{link_to "hooppps", "http://hooppps.com"} and a responsive layout for tablets. I have determined that it's about time I give hooppps some updates. Hopefully in the next month I will roll out some updates. If you have ideas or would like to contribute, #{link_to "here's the repo", "http://github.com/relevance/hooppps"}. Feel free to send a pull request.

    %h3 After Hours at Jeff's Place

    %p After drinks at the Thirsty Bear, some of us walked to Super Duper to get a bite to eat. When we got there, it was closed. We continued to walk around to look for food. At one moment, I was pretty hungry and saw a convenience store and I ran for a banana. I might have had some people thinking I was weird at that point.. "who is this overexcited guy with the banana?" - haha!

    %p Eventually we abandoned the food idea and decided to go to Jeff Broderick's apartment. This was great &mdash; again, exactly the kind of thing I was looking for. This would have been a rare occurrence at a regular tech conference. 

    %p I got to hang out and discuss all sorts of cool things with these guys. I sat and hung out with #{link_to "Marshall Bock", "http://twitter.com/marshallbock"} (designer at Google). He had just finished a revision of #{link_to "his website", "http://marshallbock.com"} and we looked at the responsive layout on his phone. I talked with Brian Benitez about his time at #{link_to "Disqus", "http://disqus.com"} and then how he has gone out on his own a bit since. I'd followed #{link_to "Brian's work on dribbble", "http://dribbble.com/benitez"} for some time. You should take a look as I think it is beautiful. I set up a time to meet with Morgan to visit #{link_to "Dropbox", "http://dropbox.com"} later in the week. I also got to meet #{link_to "Juan Arreguin", "http://twitter.com/juanarreguin"} (designer at SocialCast) and talk about being a designer/dev hybrid. It was awesome. I had a lot of fun and got to make some new friends. Next time I'm in town, I will definitely look them all up to hang out. They were all really welcoming and it was a joy to see what delightful things they were all working on!

    %p
      %a.avatar.rnorgan{:href => "https://twitter.com/rnorgan", :name => "Morgan Allan Knutson"}
      %a.avatar.brianbenitez{:href => "https://twitter.com/brianbenitez", :name => "Brian Benitez"}
      %a.avatar.jayrobinson{:href => "https://twitter.com/jayrobinson", :name => "Jay Robinson"}
      %a.avatar.marshallbock{:href => "https://twitter.com/marshallbock", :name => "Marshall Bock"}
      %a.avatar.juanarreguin{:href => "https://twitter.com/juanarreguin", :name => "Juan Arreguin"}
      %a.avatar.noracalabrese{:href => "https://twitter.com/noracalabrese", :name => "Nora Calabrese"}
      %a.avatar.neighthen{:href => "https://twitter.com/neighthen", :name => "Nathan Romero"}
      %a.avatar.meyer{:href => "https://twitter.com/meyer", :name => "Mike Meyer"}
      %a.avatar.pixeliris{:href => "https://twitter.com/pixeliris", :name => "Iris Atalay"}
