%article#day-3
  = partial(:'partials/day-bubble', :locals => {:value => "3"})
  %section.day.three
    %header A day at Storenvy &amp; dinner-hack with Chris Eppstein

    = partial(:'partials/date', :locals => {:day => "20"})

    %h2 A Day at Storenvy

    %p A company I was really looking forward to visiting was #{link_to "Storenvy", "http://storenvy.com"}. If you're not familiar with who they are, Storenvy is an e-commerce platform for people to sell their goods, targeted at artists and craft-workers. I heard them explained as the "tumblr of e-commerce". I just think they are a really neat bunch of people who know how to have some fun!

    %h3 Little Bit'o'History

    %p Some time back I read a blog post entitled #{link_to "\"How I Got Kicked Out of Y Combinator and Then Raised $1.5m for My Startup\"", "http://joncrawford.com/post/20378314843/how-i-got-kicked-out-of-y-combinator-and-then-raised"}. It was written by #{link_to "Jon Crawford", "http://twitter.com/joncrawford"} , CEO of Storenvy, and told the story of how the company started and almost died. But not really.. it is a great tale of going after your dreams at all costs. And, it really says a lot about the company culture &amp; office vibe that I picked up when I was there.

    %p I met Jon and Janette at #{link_to "Lessconf", "http://lessconf.lesseverything.com"} a couple of years in a row. I talked to them about their company, their story and a little bit about how they use rails to develop their product. Jon spoke at Lessconf 2012, and about how friends matter. This was the reason that I wanted badly to drop by and check them out.

    %p
      %a.avatar.joncrawford{:href => "https://twitter.com/joncrawford", :name => "Jon Crawford"}
      %a.avatar.janette{:href => "https://twitter.com/janette", :name => "Janette Crawford"}

    %h3 In the Morning

    %p Earlier in the week I set up a time to meet #{link_to "Adam Hendle", "https://twitter.com/adamhendle"}, Storenvy's community manager, at the office. One thing to note is that this time I was not in SoMa. I was in the 16th &amp; Mission area... an area I was more familiar with back when i lived here as a BART station I used to get on/off at regularly to get back and forth from home to Market (on way to school) was here.

    %p
      %a.avatar.adamhendle{:href => "https://twitter.com/adamhendle", :name => "Adam Hendle"}

    %p I met Adam at Lessconf this last time around briefly. We met out in front of the office and he gave me the tour. The rest of the team didn't show up until a bit later as they had all been up late the night before working on promoting t-shirt makers on their platform for #{link_to "international t-shirt day", "http://www.storenvy.com/tshirts"}. All t-shirts were $10, and so I bought two. Thanks guys!

    %p I really dug their office. They had that scrappy start-up vibe... not a huge space, but it was really nice. Decorated with cool thrift store finds and then they had a wall of art, all of which came from people on their platform. It showed what you can do with a little creativity and without breaking the bank.

    %p I hung out on their nice couch and hacked a bit on a side project: #{link_to "menubar", "http://menubar.herokuapp.com"}, a Compass/SCSS mixin for generating menubar styles, complete with all css drop-down capability.

    %p
      = tag :img, :src => "/images/storenvy/thumb/wall-of-art.jpg", :alt => "Art on the wall by people using Storenvy", :data => {:'full-size' => "/images/storenvy/wall-of-art.jpg"}
      = tag :img, :src => "/images/storenvy/thumb/the-treehouse.jpg", :alt => "This is the \"treehouse\", where devs worked", :data => {:'full-size' => "/images/storenvy/the-treehouse.jpg"}
      = tag :img, :src => "/images/storenvy/thumb/brick-wall.jpg", :alt => "Exposed brick on the interior looked really nice", :data => {:'full-size' => "/images/storenvy/brick-wall.jpg"}
      = tag :img, :src => "/images/storenvy/thumb/bullpin-and-treehouse.jpg", :alt => "The main office section", :data => {:'full-size' => "/images/storenvy/bullpin-and-treehouse.jpg"}

    %h3 Lunch: Burmese Noodle Bar

    %p When lunchtime came, Adam took me to #{link_to "Yamo", "http://www.yelp.com/biz/yamo-san-francisco"}, a Burmese noodle bar. This place was a total dive hole-in-the-wall... literally! I think that there was maybe 5 stools in the place total and they cooked the food behind the bar in front of you. We had to get the food to go because the place was already sat full. It was delicious! A bit oily, but super tasty. I don't even know what I ordered... not even at the time. I looked over and was like... I said some stuff, the lady said stuff in another language... i gave her money - boom! Some food is coming my way. In retrospect, I would not have done it any other way.

    %p
      = tag :img, :src => "/images/storenvy/thumb/yamo-news.jpg", :alt => "Yamo News", :data => {:'full-size' => "/images/storenvy/yamo-news.jpg"}
      = tag :img, :src => "/images/storenvy/thumb/yamo-bar.jpg", :alt => "Super Hole in the Wall Dive!", :data => {:'full-size' => "/images/storenvy/yamo-bar.jpg"}

    %h3 Afternoon Hacking &amp; Meeting More of the Team

    %p After lunch, I continued to hack on and actually released menubar. When the rest of the team came in, Jon walked in the door and was like, woah... what are you doing here?!? Haha!
    
    %p I got to talk with some of the other folks (designer &amp; engineers). Their head engineer, #{link_to "Corey Reece", "https://twitter.com/coreyr"}, found out that I was in North Carolina and we connected instantly. He really loves NC! I showed them all a bit of what I was up to and we all had a pretty fun time.

    %p
      %a.avatar.coreyr{:href => "https://twitter.com/coreyr", :name => "Corey Reece"}
      %a.avatar.thisisrobv{:href => "https://twitter.com/thisisrobv", :name => "Rob V."}
      %a.avatar.ariellescott{:href => "https://twitter.com/ariellescott", :name => "Arielle Scott"}
      %a.avatar.baxterstrikes{:href => "https://twitter.com/baxterstrikes", :name => "Lynn Baxter"}
      %a.avatar.bennyfreshness{:href => "https://twitter.com/bennyfreshness", :name => "Ben Koonse"}

    %h3 Thank You Storenvy

    %p I want to take a moment to say thanks to the team at Storenvy. These guys are a really neat group of people. They have that real grass-roots vibe of a start-up in SF. They don't seem pretentious at all. They just do what they do and believe in it. When I had got there... a couple of days before they reached 15,000 stores on their platform. They are growing... just this week I looked online and they now have 16,000+.

    %p #{link_to "Storenvy is hiring", "http://www.storenvy.com/jobs"}. If you see what they are up to and connect with their product/vibe... you should check them out.

    %h2 Dinner-hack Session with Chris Eppstein

    %p At about 4pm, I wrapped up at Storenvy and headed over to the BART. Took that to CalTrain to San Mateo to meet up with #{link_to "Chris Eppstein", "https://twitter.com/chriseppstein"}. Earlier in the week, I reached out to him and told him what I was up to. I asked if he might be interested in getting together for a beer and/or a hack session and he agreed to meet with me.

    %p I am a big fan of Chris's work with #{link_to "Compass", "http://compass-style.org"}, a Sass framework for generating beautiful, cross-browser compliant, stylesheets.

    %p
      %a.avatar.chriseppstein{:href => "https://twitter.com/chriseppstein", :name => "Chris Eppstein"}

    %h3 Introductions

    %p We had never met before in person. We follow each other on twitter and stuff and had some exchanges... but this was the first time that we had actually talked in depth about anything.

    %p We went to a T.G.I. Fridays (conveniently by the bus stop) and ordered a pitcher of beer. We got to know each other a bit, where we worked, what we did... that sort of stuff.

    %p Chris works for #{link_to "caring.com", "caring.com"} as an architect. I asked about that and he has a really great personal story about how he got there. After learning more about his journey, I liked him for more than making a nice tool for designers/front-end devs... I liked him as a person. That sort of stuff... it just matters to me.

    %h3 What to Hack On?

    %p After a bit of beer and chicken wings... Chris asked me, "So, what do you want to know about Compass?" I replied with sort of an "I don't really know" answer. For me, I just have been using it and learning... I have been passionate about sharing what i learn with examples of it in use on #{link_to "ribbons", "http://ribbons.herokuapp.com"}, #{link_to "paper stack", "http://paper-stack.herokuapp.com"} and #{link_to "menubar", "http://menubar.herokuapp.com"}... but I didn't really know exactly what i wanted to learn from here. I just know that I want to contribute and work with cool people.

    %p So, I suggested that we talk about an interaction that was had on twitter between he, #{link_to "Chris Coyier", "http://twitter.com/chriscoyier"} and myself. the whole thing was based on a blog post entitled #{link_to "The CNS Color Naming System", "http://www.xanthir.com/blog/b4JS1"} by #{link_to "Tab Atkins", "http://twitter.com/tabatkins"}.

    %p
      The thing that Chris Coyier said was:
      %blockquote "I *love* the idea of : background: color(very light red); which maps to appropriate value. See @tabatkins blog : http://www.xanthir.com/blog/b4JS1"

    %p So we talked about this. What does this mean? Surely we should do something like this in Compass before introducing this to the CSS spec or even Sass itself.

    %h3 Think Before You Write

    %p I'm pretty sure that this is not how every software problem gets solved. I know that at Relevance we do a lot of pairing and we think before we write often, but sometimes it's a challenge to separate talking from punching keys. It was notable that before Chris and I even looked at a computer, we talked about the problem for a bit. We talked about why we would want this ability to express colors with words in this proposed way.

    %p I talked about what it's like to hang out in my studio with tubes of paint. How I achieve colors I want through blending from proprietary colors (like Windsor Newton cobalt blue and Golden cadmium yellow, etc). I don't think in terms of hexcodes or even RGB or HSL. I am pretty much designing in the browser via code these days and I still have to fire up another piece of software to get color values.

    %p We talked about naming and what some of these words might mean in terms of math. Like "very" or "light", even "greenish" or "warmer/cooler". After we talked and it started to get a bit more clear that we were touching on the solution and not the problem... he fired up his notebook and began to type out a simple DSL with some comments on what the operations/values might look like. There was even some possibility to provide some specificity in terms of amounts or even parameterize the initial meaning of color as opposed to relying on the browser definition of say, blue.

    %p We had to come to an end. The last trains were on their way and we left with some good parting thoughts. Chris was super fun to work with. I really appreciate him hanging out with a student like myself. He had a lot to teach, he was patient and explanatory... and encouraging. I really appreciate him meeting with me.

    %p Thanks Chris!

    %p Note: The work we did together, Chris did a write up of and published a gist the next day: #{link_to "A Friendlier Approach for CSS Color Manipulation", "https://gist.github.com/2966954"}