%article
  = partial(:'partials/day-bubble', :locals => {:value => "1"})
  %section.day.one
    %header So I'm in San Francisco... Now what?
    
    = partial(:'partials/date', :locals => {:day => "18"})
    
    %h2 The Story
    
    %p When I thought about doing this, I put together some loose plans, but didn't have any dates/times lined up with people/places. I wanted to be able to do that in real-time and leave some room open for adventure. You know.. maybe I will randomly meet people and get to see some amazing places I didn't intend.
    
    %p While that seemed like the right thing to do, next time I will try and line up at least my first day. However, I did get to experience some unexpected magic! Day one was all about planning. I spent the day trying to line up some of the specifics: where would I go, when would I get there, who would meet with me when I get there kind of stuff.
    
    %h3 The Magic Bus
    
    %p I hopped on the 14x bus from Outer Mission to SOMA. I wanted to visit software product companies, and so it just made sense that I try and land a spot there. I figured, I'm on East coast time and up early here... I'll find a coffee shop, get charged, open my laptop and line some stuff up.
    
    %h3 Coffee or Chemistry?
    
    %p When I got off the bus, I fired up Yelp and searched for coffee. Saw that there was a #{link_to "Blue Bottle", "http://www.bluebottlecoffee.com/locations/mint-cafe/"} coffee shop and had heard good things, so I walked there. Holy shit! I ordered a small pot of a single roast African Gamayo and watched as they stirred something over a Bunsen burner-like contraption with vessels that looked like lab glass. The dude working the fire was obviously caffeinated and very into what he was doing. When I got my pot of coffee, it came in a stand holding a small florence flask of hot bean juice and the coffee cup was also resembling of sort of beaker. It came with instructions as to when the optimal temperature would be to drink this fine nectar. The only thing that was missing was a thermometer... and maybe safety goggles. I joke around.. but the coffee was amazing. This was foreshadowing for how coffee in San Francisco was to ruin coffee for me for at least the next two weeks!
    
    %p
      = tag :img, :src => "/images/blue-bottle/blue-bottle.jpg", :alt => "Blue Bottle looks like a science lab."
      = tag :img, :src => "/images/blue-bottle/pot-of-african-gamayo.jpg", :alt => "Pot of African Gamayo"
    
    %h3 Time to Get to Work
    
    %p After I was sufficiently caffeinated, I walked around to find a place to sit down and plug in my laptop. It was time to get real. While I walked around, I noticed the branded clothing adorned on people carrying laptop bags.. #{link_to "Square", "http://squareup.com"}, #{link_to "Zaarly", "http://zaarly.com"}, #{link_to "twitter", "http://twitter.com"}, etc... Logos of tech companies I follow were all around. Seemed like a good sign.
    
    %p I found a little cafe that had food, coffee... and power outlets!!! So, I got a table and plugged in. At first I was just re-checking in with folks I had reached out to earlier when I was brainstorming this idea. Writing emails and sending direct messages on twitter, I wanted to set some actual times to meet up. While I sorted some of this stuff out, I had a moment to check-in with some coworkers at #{link_to "Relevance", "http://thinkrelevance.com"} and do some project work. Then the emails started coming in.
    
    %p Here's what I lined up:
    
    %ul
      %li An evening to work with #{link_to "Chris Eppstein", "https://twitter.com/chriseppstein"}
      %li A day to work at #{link_to "UserVoice", "http://uservoice.com"}
      %li A day to work at #{link_to "Storenvy", "http://storenvy.com"}
      %li An evening, to hang out with #{link_to "Jay Robinson", "http://twitter.com/jayrobinson"}, a UX designer at #{link_to "Sencha", "http://sencha.com"}
    
    %h3 Lunch with Jeff Broderick &amp; Manolo Savi
    
    %p I started getting hungry. While I was reading some tweets, #{link_to "Jeff Broderick", "http://twitter.com/brdrck"}, a product designer I follow but have never met in person, sent out a tweet asking who wanted to join him and #{link_to "Manolo Savi", "http://twitter.com/manolosavi"} for lunch. I replied eagerly as this is what I was there for. This is why I wanted to keep my schedule loose... for adventure time!
    
    %p
      %a.avatar.brdrck{:href => "https://twitter.com/brdrck", :name => "Jeff Broderick"}
      %a.avatar.manolosavi{:href => "https://twitter.com/manolosavi", :name => "Manolo Savi"}
    
    %p I met with them, ate food and talked shop. It was interesting to hear what Jeff was doing. He wasn't working for anybody, he wasn't contracting... he was just partnered with some folks and was solely focused on building products that he wanted to design. He talked about his current project #{link_to "jump.tv", "http://jump.tv"} and how he wanted to only ship with features fully baked. You know, not just ship something to ship it and test... but really ship features that he feels good about. Features he feels look good, have nice interactions and then also provides value to the user and the business. He talked about minimizing distractions... thinking for the user instead of making them think. It was really cool!
    
    %p Manolo was here on a tour of his own before he goes back to school. I ran into both of these guys again while I was in town. For a big city, it seems that the circles are smaller than I had thought they might be. I had a great lunch! I talked about what I did, the tools I worked with... the types of tech that I've worked with at Relevance. I think I might have scared these guys a bit with my "Designers should learn to use the Terminal" bit, but overall it was a pretty good time.
    
    %p I was going to set up some time to work with Jeff on getting more familiar with the whole git/heroku deploy story and walk him through some of the stuff I have been using like #{link_to "middlebot", "http://github.com/michaelparenteau/middlebot"} and #{link_to "middleman", "http://middlemanapp.com"}, but time was limited and it just didn't line up.
    
    %p @brdrck - The offer still stands... if you want to do some remote pairing, I would be happy to do that if you are still interested. :)
    
    %h3 Cask - a Whiskey Heaven
    
    %p After lunch, as I was walking with Jeff &amp; Manolo, I noticed the sight of glorious whiskey... lots and lots of whiskey. #{link_to "Cask", "http://www.caskstore.com"} is what I would imagine a wizard's library to look like. The space was dark, wooded &amp; the shelves were organized with bottles of spirits from different regions and grain. I found an interesting bottle (#{link_to "Whistle Pig", "http://whistlepigwhiskey.com"}) and decided to bring it back to my friend who was putting me up for the week. I sent out a tweet #{link_to "@jgehtland", "http://twitter.com/jgehtland"}, our CEO at Relevance, with a photo showing some very rare whiskeys. He later requested the exact location of this fine gem &mdash; If you like whiskey and find yourself in SF, you should check it out. No, it's not the place where they sell kilts and serve booze (that actually exists)... but it is, no doubt, a good find!
    
    %p
      = tag :img, :src => "/images/cask/whiskey-tricycle.jpg", :alt => "Whiskey tricycle"
      = tag :img, :src => "/images/cask/cask-sign.jpg", :alt => "Cask wall sign"
      = tag :img, :src => "/images/cask/whiskey-display.jpg", :alt => "Whiskey display"
      = tag :img, :src => "/images/cask/whiskey-library.jpg", :alt => "Whiskey library"
      = tag :img, :src => "/images/cask/whistle-pig-rye.jpg", :alt => "Whistle Pig Rye, this was delicious!"
      = tag :img, :src => "/images/cask/rare-whiskeys.jpg", :alt => "The rare whiskeys"
    
    %h3 What a Minute, I Know this Place!
    
    %p I started to walk back to Mission St. to get on the bus. Then I thought... wait a minute, I know this place! See, a long while back I lived out here in SF to go to the San Francisco Art Institute. I used to visit the #{link_to "Museum of Modern Art", "http://sfmoma.org"} all the time. It was right across the street. And I didn't want to pass up the chance to take a walk through.
    
    %p (NOTE: The last 30 minutes of every day at the MOMA is free. If you're in the area at that time, you should go.)
    
    %p There was only an hour left to check out the collection, but it was enough. Well, there could never really be enough time to look at all the work there. But it was at least enough time for me to walk in and I cried, I smiled, my jaw was dropped. See, this may sound harsh, but I feel sometimes that life would be shit without art. Going to the museum made me want to make everything I do matter, make everything count! 
    
    %p It was a great end to day 1.
    
    %p
      = tag :img, :src => "/images/moma/elmer-bischoff.jpg", :alt => "Elmer Bischoff painting"
      = tag :img, :src => "/images/moma/mural.jpg", :alt => "Featured mural at the MOMA"
      = tag :img, :src => "/images/moma/francis-bacon.jpg", :alt => "Francis Bacon painting"
      = tag :img, :src => "/images/moma/moma-architecture-01.jpg", :alt => "MOMA architecture"
      = tag :img, :src => "/images/moma/moma-architecture-02.jpg", :alt => "MOMA architecture"
      = tag :img, :src => "/images/moma/moma-architecture-03.jpg", :alt => "MOMA architecture"
