---
title: Jun 2012 - Just the Data
---

%article.intro#intro
  = link_to "Twitter: @parenteau", "http://twitter.com/parenteau", :class => "parenteau"
  %p.name Michael Parenteau
  %blockquote
    "I had a lot of fun in San Francisco. Let's just take a look at some of the interesting bits. Faces, places, things oh my!"

%article
  %h2.day
    %span.label offices
    %span.value 5
  %section.day.stats-01
    %header

    %h2 Companies

    %p
      In 7 days, I visited 5 offices. They were Uservoice, Storenvy, Heroku, Dropbox &amp; Github.
    %p.offices
      = link_to "Uservoice", "https://uservoice.com", :class => "uservoice"
      = link_to "Storenvy", "http://storenvy.com", :class => "storenvy"
      = link_to "Heroku", "http://heroku.com", :class => "heroku"
      = link_to "Dropbox", "http://dropbox.com", :class => "dropbox"
      = link_to "Github", "http://github.com", :class => "github"

%article
  %h2.day
    %span.label people
    %span.value 27
  %section.day.stats-01
    %header

    %h2 People

    %p
      I met with software engineers &amp; designers form all sorts of companies.

    %p
      %a.avatar.brdrck{:href => "https://twitter.com/brdrck", :name => "Jeff Broderick"}
      %a.avatar.manolosavi{:href => "https://twitter.com/manolosavi", :name => "Manolo Savi"}
      %a.avatar.joshuarudd{:href => "https://twitter.com/joshuarudd", :name => "Joshua Rudd"}
      %a.avatar.chadbercea{:href => "https://twitter.com/chadbercea", :name => "Chad Bercea"}
      %a.avatar.cypriss{:href => "https://twitter.com/cypriss", :name => "Jonathan Novak"}
      %a.avatar.rnorgan{:href => "https://twitter.com/rnorgan", :name => "Morgan Allan Knutson"}
      %a.avatar.brianbenitez{:href => "https://twitter.com/brianbenitez", :name => "Brian Benitez"}
      %a.avatar.jayrobinson{:href => "https://twitter.com/jayrobinson", :name => "Jay Robinson"}
      %a.avatar.marshallbock{:href => "https://twitter.com/marshallbock", :name => "Marshall Bock"}
      %a.avatar.juanarreguin{:href => "https://twitter.com/juanarreguin", :name => "Juan Arreguin"}
      %a.avatar.noracalabrese{:href => "https://twitter.com/noracalabrese", :name => "Nora Calabrese"}
      %a.avatar.neighthen{:href => "https://twitter.com/neighthen", :name => "Nathan Romero"}
      %a.avatar.meyer{:href => "https://twitter.com/meyer", :name => "Mike Meyer"}
      %a.avatar.pixeliris{:href => "https://twitter.com/pixeliris", :name => "Iris Atalay"}
      %a.avatar.joncrawford{:href => "https://twitter.com/joncrawford", :name => "Jon Crawford"}
      %a.avatar.janette{:href => "https://twitter.com/janette", :name => "Janette Crawford"}
      %a.avatar.adamhendle{:href => "https://twitter.com/adamhendle", :name => "Adam Hendle"}
      %a.avatar.coreyr{:href => "https://twitter.com/coreyr", :name => "Corey Reece"}
      %a.avatar.thisisrobv{:href => "https://twitter.com/thisisrobv", :name => "Rob V."}
      %a.avatar.ariellescott{:href => "https://twitter.com/ariellescott", :name => "Arielle Scott"}
      %a.avatar.baxterstrikes{:href => "https://twitter.com/baxterstrikes", :name => "Lynn Baxter"}
      %a.avatar.bennyfreshness{:href => "https://twitter.com/bennyfreshness", :name => "Ben Koonse"}
      %a.avatar.chriseppstein{:href => "https://twitter.com/chriseppstein", :name => "Chris Eppstein"}
      %a.avatar.ped{:href => "https://twitter.com/ped", :name => "Pedro Belo"}
      %a.avatar.seaofclouds{:href => "https://twitter.com/seaofclouds", :name => "Todd Matthews"}
      %a.avatar.zapnap{:href => "https://twitter.com/zapnap", :name => "Nick Plante"}
      %a.avatar.jsncostello{:href => "https://twitter.com/jsncostello", :name => "Jason Costello"}

%article
  %h2.day
    %span.label images
    %span.value 37
  %section.day.stats-01
    %header

    %h2 Photographs

    %p
      I took pictures all over the city. Some were at the offices I visited, some at a whiskey shop and even some at the Museum of Modern Art.

    %p
      = tag :img, :src => "/images/blue-bottle/thumb/blue-bottle.jpg", :alt => "Blue Bottle looks like a science lab.", :data => {:'full-size' => "/images/blue-bottle/blue-bottle.jpg"}
      = tag :img, :src => "/images/blue-bottle/thumb/pot-of-african-gamayo.jpg", :alt => "Pot of African Gamayo", :data => {:'full-size' => "/images/blue-bottle/pot-of-african-gamayo.jpg"}
      = tag :img, :src => "/images/cask/thumb/whiskey-tricycle.jpg", :alt => "Whiskey tricycle", :data => {:'full-size' => "/images/cask/whiskey-tricycle.jpg"}
      = tag :img, :src => "/images/cask/thumb/cask-sign.jpg", :alt => "Cask wall sign", :data => {:'full-size' => "/images/cask/cask-sign.jpg"}
      = tag :img, :src => "/images/cask/thumb/whiskey-display.jpg", :alt => "Whiskey display", :data => {:'full-size' => "/images/cask/whiskey-display.jpg"}
      = tag :img, :src => "/images/cask/thumb/whiskey-library.jpg", :alt => "Whiskey library", :data => {:'full-size' => "/images/cask/whiskey-library.jpg"}
      = tag :img, :src => "/images/cask/thumb/whistle-pig-rye.jpg", :alt => "Whistle Pig Rye, this was delicious!", :data => {:'full-size' => "/images/cask/whistle-pig-rye.jpg"}
      = tag :img, :src => "/images/cask/thumb/rare-whiskeys.jpg", :alt => "The rare whiskeys", :data => {:'full-size' => "/images/cask/rare-whiskeys.jpg"}
      = tag :img, :src => "/images/moma/thumb/elmer-bischoff.jpg", :alt => "Elmer Bischoff painting", :data => {:'full-size' => "/images/moma/elmer-bischoff.jpg"}
      = tag :img, :src => "/images/moma/thumb/mural.jpg", :alt => "Featured mural at the MOMA", :data => {:'full-size' => "/images/moma/mural.jpg"}
      = tag :img, :src => "/images/moma/thumb/francis-bacon.jpg", :alt => "Francis Bacon painting", :data => {:'full-size' => "/images/moma/francis-bacon.jpg"}
      = tag :img, :src => "/images/moma/thumb/moma-architecture-01.jpg", :alt => "MOMA architecture", :data => {:'full-size' => "/images/moma/moma-architecture-01.jpg"}
      = tag :img, :src => "/images/moma/thumb/moma-architecture-02.jpg", :alt => "MOMA architecture", :data => {:'full-size' => "/images/moma/moma-architecture-02.jpg"}
      = tag :img, :src => "/images/moma/thumb/moma-architecture-03.jpg", :alt => "MOMA architecture", :data => {:'full-size' => "/images/moma/moma-architecture-03.jpg"}
      = tag :img, :src => "/images/uservoice/thumb/uservoice-entrance.jpg", :alt => "Chalk wall at UserVoice entrance", :data => {:'full-size' => "/images/uservoice/uservoice-entrance.jpg"}
      = tag :img, :src => "/images/storenvy/thumb/wall-of-art.jpg", :alt => "Art on the wall by people using Storenvy", :data => {:'full-size' => "/images/storenvy/wall-of-art.jpg"}
      = tag :img, :src => "/images/storenvy/thumb/the-treehouse.jpg", :alt => "This is the \"treehouse\", where devs worked", :data => {:'full-size' => "/images/storenvy/the-treehouse.jpg"}
      = tag :img, :src => "/images/storenvy/thumb/brick-wall.jpg", :alt => "Exposed brick on the interior looked really nice", :data => {:'full-size' => "/images/storenvy/brick-wall.jpg"}
      = tag :img, :src => "/images/storenvy/thumb/bullpin-and-treehouse.jpg", :alt => "The main office section", :data => {:'full-size' => "/images/storenvy/bullpin-and-treehouse.jpg"}
      = tag :img, :src => "/images/storenvy/thumb/yamo-news.jpg", :alt => "Yamo News", :data => {:'full-size' => "/images/storenvy/yamo-news.jpg"}
      = tag :img, :src => "/images/storenvy/thumb/yamo-bar.jpg", :alt => "Super Hole in the Wall Dive!", :data => {:'full-size' => "/images/storenvy/yamo-bar.jpg"}
      = tag :img, :src => "/images/heroku/thumb/front-door.jpg", :alt => "Heroku front door", :data => {:'full-size' => "/images/heroku/front-door.jpg"}
      = tag :img, :src => "/images/heroku/thumb/company-dashboard.jpg", :alt => "Heroku Company Dashboard", :data => {:'full-size' => "/images/heroku/company-dashboard.jpg"}
      = tag :img, :src => "/images/heroku/thumb/heroku-status-dashboard.jpg", :alt => "Heroku status dashboard", :data => {:'full-size' => "/images/heroku/heroku-status-dashboard.jpg"}
      = tag :img, :src => "/images/heroku/thumb/kitchen.jpg", :alt => "Heroku kitchen with lots of beverages", :data => {:'full-size' => "/images/heroku/kitchen.jpg"}
      = tag :img, :src => "/images/heroku/thumb/relaxation-room.jpg", :alt => "Relaxation room at Heroku", :data => {:'full-size' => "/images/heroku/relaxation-room.jpg"}
      = tag :img, :src => "/images/heroku/thumb/jellyfish.jpg", :alt => "Jellyfish at Heroku", :data => {:'full-size' => "/images/heroku/jellyfish.jpg"}
      = tag :img, :src => "/images/heroku/thumb/rooftop.jpg", :alt => "Heroku Rooftop", :data => {:'full-size' => "/images/heroku/rooftop.jpg"}
      = tag :img, :src => "/images/heroku/thumb/dogeball-octocat-trophy.jpg", :alt => "The dodgeball octocat trophy that Heroku won", :data => {:'full-size' => "/images/heroku/dogeball-octocat-trophy.jpg"}
      = tag :img, :src => "/images/heroku/thumb/pedro-ping-pong.jpg", :alt => "Pedro kicked my ass at ping-pong", :data => {:'full-size' => "/images/heroku/pedro-ping-pong.jpg"}
      = tag :img, :src => "/images/heroku/thumb/ping-pong-leader.jpg", :alt => "The Heroku ping-pong leader board", :data => {:'full-size' => "/images/heroku/ping-pong-leader.jpg"}
      = tag :img, :src => "/images/day-5/thumb/the-utah.jpg", :alt => "The Utah building on the way to Github HQ 2.0", :data => {:'full-size' => "/images/day-5/the-utah.jpg"}
      = tag :img, :src => "/images/day-5/thumb/coffee-cup-art.jpg", :alt => "Coffee cup zombie art at Cento", :data => {:'full-size' => "/images/day-5/coffee-cup-art.jpg"}
      = tag :img, :src => "/images/day-5/thumb/little-skillet-sign.jpg", :alt => "Little Skillet sign", :data => {:'full-size' => "/images/day-5/little-skillet-sign.jpg"}
      = tag :img, :src => "/images/day-5/thumb/little-skillet-menu.jpg", :alt => "Little Skillet menu", :data => {:'full-size' => "/images/day-5/little-skillet-menu.jpg"}
      = tag :img, :src => "/images/day-5/thumb/gourmet-food-bus.jpg", :alt => "Gourmet food bus", :data => {:'full-size' => "/images/day-5/gourmet-food-bus.jpg"}
      = tag :img, :src => "/images/dropbox/thumb/morgans-porch.jpg", :alt => "the view from Morgan's porch", :data => {:'full-size' => "/images/dropbox/morgans-porch.jpg"}
      